# {{ ansible_managed }}
<VirtualHost *:80>
        ServerAlias {{ vhost_alias }}
        DocumentRoot {{ vhost_root_directory }}
        <Directory />
                Options FollowSymLinks
                AllowOverride none
        </Directory>
        <Directory {{ vhost_root_directory }}>
                Options FollowSymLinks MultiViews
                AllowOverride all
                Order allow,deny
                allow from all
        </Directory>


        ErrorLog {{ vhost_log }}
        LogLevel warn

        CustomLog {{ vhost_log }} combined
</VirtualHost>
