<?php
/**
 * La configuration de base de votre installation WordPress.
 *
 * Ce fichier contient les réglages de configuration suivants : réglages MySQL,
 * préfixe de table, clés secrètes, langue utilisée, et ABSPATH.
 * Vous pouvez en savoir plus à leur sujet en allant sur
 * {@link http://codex.wordpress.org/fr:Modifier_wp-config.php Modifier
 * wp-config.php}. C’est votre hébergeur qui doit vous donner vos
 * codes MySQL.
 *
 * Ce fichier est utilisé par le script de création de wp-config.php pendant
 * le processus d’installation. Vous n’avez pas à utiliser le site web, vous
 * pouvez simplement renommer ce fichier en "wp-config.php" et remplir les
 * valeurs.
 *
 * @package WordPress
 */

// ** Réglages MySQL - Votre hébergeur doit vous fournir ces informations. ** //
/** Nom de la base de données de WordPress. */
define('DB_NAME', '{{ database_name }}');

/** Utilisateur de la base de données MySQL. */
define('DB_USER', '{{ database_username }}');

/** Mot de passe de la base de données MySQL. */
define('DB_PASSWORD', '{{ database_user_password }}');

/** Adresse de l’hébergement MySQL. */
define('DB_HOST', '{{ database_ip }}');

/** Jeu de caractères à utiliser par la base de données lors de la création des tables. */
define('DB_CHARSET', 'utf8');

/** Type de collation de la base de données.
  * N’y touchez que si vous savez ce que vous faites.
  */
define('DB_COLLATE', '');

/**#@+
 * Clés uniques d’authentification et salage.
 *
 * Remplacez les valeurs par défaut par des phrases uniques !
 * Vous pouvez générer des phrases aléatoires en utilisant
 * {@link https://api.wordpress.org/secret-key/1.1/salt/ le service de clefs secrètes de WordPress.org}.
 * Vous pouvez modifier ces phrases à n’importe quel moment, afin d’invalider tous les cookies existants.
 * Cela forcera également tous les utilisateurs à se reconnecter.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '?$5?/u5Xz.uvI[Y^i4g-,MQrcfdn;A*{tTO&&rByJ 0B=D~#+i6nE;pzceC> |8A');
define('SECURE_AUTH_KEY',  'X2z]36P}D?:@x%|8NzGO-(8CBkm~[<PDops+CB{ 2VaPp[rhI,dPZ!-R<by|@Ym-');
define('LOGGED_IN_KEY',    'hz_[BuCrH|4Q_VcLs2N0~r~wA!;Df5Gea-kK&.B;;4:<&9$n+s4(<s|bqyJ7Kpi>');
define('NONCE_KEY',        '$j?|+M-Xujs7S$SNEQ}uPK%VO0XBgE)0Q!>yLd}:Nw_x!%k?+vwo<1lp?u*5e^j!');
define('AUTH_SALT',        ' M5>deDi$sv<W~)of/25-o/Xo[afl;<&,eURCL}5Z[$R@t+e;+H|v4+N]yK`S+KJ');
define('SECURE_AUTH_SALT', 'V9R3|<<91COsZgj3sG}%dcm!p+WojgZP~yx|M+|c!Z:qs +I4LBI`Q5]3} pub1[');
define('LOGGED_IN_SALT',   'g.|W)-WIWE-9E|/SIP40JHFUOL Spl4saethWSSu0g* HWdr-|c4>Gr;qIA!{k-]');
define('NONCE_SALT',       'nODTR1{1cxsRAfRgv]<X,qbz7_,DCjU!t]JXrtNP@Xh`sX)qWIX/^)G%>)):+MqO');

/**#@-*/

/**
 * Préfixe de base de données pour les tables de WordPress.
 *
 * Vous pouvez installer plusieurs WordPress sur une seule base de données
 * si vous leur donnez chacune un préfixe unique.
 * N’utilisez que des chiffres, des lettres non-accentuées, et des caractères soulignés !
 */
$table_prefix = 'wp_';

/**
 * Pour les développeurs : le mode déboguage de WordPress.
 *
 * En passant la valeur suivante à "true", vous activez l’affichage des
 * notifications d’erreurs pendant vos essais.
 * Il est fortemment recommandé que les développeurs d’extensions et
 * de thèmes se servent de WP_DEBUG dans leur environnement de
 * développement.
 *
 * Pour plus d’information sur les autres constantes qui peuvent être utilisées
 * pour le déboguage, rendez-vous sur le Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', false);

/* C’est tout, ne touchez pas à ce qui suit ! Bonne publication. */

/** Chemin absolu vers le dossier de WordPress. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Réglage des variables de WordPress et de ses fichiers inclus. */
require_once(ABSPATH . 'wp-settings.php');