vrrp_instance VIP_1 {
  state BACKUP
  priority {{ vip_priority}}
  nopreempt

  interface ens33
  virtual_router_id 255
  advert_int 5
  virtual_ipaddress {
        {{ vip_ip }}/{{ vip_mask }} brd {{ vip_broadcast }} dev ens33 scope global
  }
}

